<div class="container hidemobile">
    <div class="logo hidemobile"><div class="header-name"><h2>Jenn<span class="single-letter">I</span>fer<br><span class="custom-space"></span>Pe<span class="single-letter">T</span>rus</h2>
    </div></div>
    <span class="hidemobile pointer underline">Imprint</span>
  </div>
  <div class="logo hidedesktop"><div class="header-name"><h2>Jenn<span class="single-letter">I</span>fer<br><span class="custom-space"></span>Pe<span class="single-letter">T</span>rus</h2>
  </div></div>
  <div class="copyright"><span>©</span>Jennifer Petrus 2024<div></div></div>
  <div class="icon-ctn"></div>
  <div class="hidedesktop pointer underline">Imprint</div>
  