<img class="about-bg-form" src="/assets/img/bg/darkblue-shadow-right.png">
<div id="about" class="about-section-container">
    <div class="aboutcontainer">
        <h2>{{ 'aboutme-headline' | translate }}</h2>
        <div>
            <p>{{ 'aboutme-info1' | translate }}</p>
            <div class="mobileimagecontainer hidedesktop">
                <img
              class="mobileimage hidedesktop"
              src="/assets/img/jennifer-petrus3.png"
              alt="Jennifer Petrus"
            />
          </div>
            <p>{{ 'aboutme-info2' | translate }}
            </p>
        </div>
       
        <div class="about-item">
            <div>
                <img class="about-icon" src="/assets/img/icons/bulb-blue.png" />
            </div>
            <span>{{ 'aboutme-info3' | translate }}</span>
        </div>
        <div class="about-item">
            <div>
                <img class="about-icon" src="/assets/img/icons/puzzle-blue.png" />
            </div>
            <span>{{ 'aboutme-info4' | translate }}</span>
        </div>
    </div>
    <div class="imagecontainer hidemobile">
        <div class="line hidemobile"></div>
        <img
      class="aboutimage hidemobile"
      src="/assets/img/jennifer-petrus3.png"
      alt="Jennifer Petrus"
    />
  </div>

</div>