<nav>
    <div class="logo pointer"><a href="#top"><div id="top" class="header-name"><h2>Jenn<span class="single-letter">I</span>fer<br><span class="custom-space"></span>Pe<span class="single-letter">T</span>rus</h2>
    </div></a></div>
    <div class="nav-items subtitle">
        <div><a href="#about">About{{'about' | translate}}</a></div>
        <div><a href="#skills">Skills{{'skills' | translate}}</a></div>
        <div><a href="#projects">Portfolio{{'projects' | translate}}</a></div>
        <div><a href="#contact">Contact{{'contact' | translate}}</a></div>
        <div class="language">
            <p (click)="translate.switchLanguage('de')">DE</p>|
            <p (click)="translate.switchLanguage('en')">EN</p>
        </div>
    </div>
</nav> 