.section-title-container {
    display: flex;
    flex-direction: column;
    z-index: 99;
  
    @media (min-width: 1200px) {
      width: 50vw;
    }
  }
  
  .fullcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding-top: 130px;
    padding-bottom: 130px;
  
    @media (min-width: 1200px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }
  }
  
  .title-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 35px; 

    @media (max-width: 1199px) {
      margin-top: 550px;
    }
  }
  
  .title-container {
    padding: 0;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
  
    @media (max-width: 389px) {
      flex-direction: column;
      text-align: center;
    }
  }
  
  .title-vertical {
    color: white;
    rotate: -90deg;
    font-size: 28px;
    margin: -6%;
    margin-left: -8%;
  
    @media (max-width: 389px) {
      font-size: 21px;
      rotate: 0deg;
      margin: 0%;
    }
  
    @media (min-width: 1200px) {
      font-size: 46px;
      margin: -3%;
    }
  }
  
  .title-horizontal {
    display: flex;
    flex-direction: column;
    width: 81%;
    margin: 0;
  
    @media (max-width: 389px) {
      width: 100%;
    }
  }
  
  .myname {
    font-size: 34px;
    font-weight: 700;
    color: white;
    line-height: 120%;
  
    @media (max-width: 389px) {
      font-size: 23px;
    }
  
    @media (min-width: 1200px) {
      font-size: 53px;
    }
  }
  
  .jobtitle {
    text-transform: uppercase;
    font-size: 28px;
    color: #4B47FF;
    line-height: 120%;
  
    @media (max-width: 389px) {
      font-size: 23px;
    }
  
    @media (min-width: 1200px) {
      font-size: 44px;
    }
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    max-width: 680px;
  
    @media (min-width: 1200px) {
      width: 30vw;
    }
  
    .bg-colors-container {
      position: absolute;
      top: 130px;
      display: flex;
      flex-direction: row;
      overflow-y: hidden;
      z-index: -99;
      height: 100%;
      width: 100%;
  
      @media (min-width: 1200px) {
        width: 35vw;
        top: 175px;
        left: -245px;
        overflow: unset;
      }
    }
  
    .bg-colors {
      width: 45%;
      scale: 1.1;
      z-index: -99;
      filter: blur(46.5px);
      max-height: 800px;
  
      @media (min-width: 1200px) {
        width: 100%;
        scale: 1;
        filter: blur(90px);
        max-height: 800px;
      }
    }
  
    .titleimage {
      position: absolute;
      top: 120px;
      overflow: visible;
      width: calc(100% - 54px);
      max-width: 450px;
  
      @media (min-width: 1200px) {
        position: relative;
        top: 50px;
        left: 20px;
        width: 100%;
        min-width: 360px;
        max-width: 660px;
      }
      @media (max-width: 450px) {
        position: relative;
        top: 150px;
        left: 20px;
        width: 100%;
        min-width: 360px;
        max-width: 660px;
      }
    }
  }
  
  .bg-shape {
    position: absolute;
    top: 45vh;
    z-index: 1;
  
    @media (min-height: 1300px) {
      top: 35vh;
    }
  
    @media (max-height: 590px) {
      top: 20vh;
    }
  
    @media (max-height: 720px) {
      top: 30vh;
    }
  
    @media (min-width: 1200px) {
      top: 60%;
      width: 100%;
    }
  
    @media (min-width: 2700px) {
      top: 50%;
      width: 100%;
    }
  }
  
  @media (max-width: 1199px) {
    .margin {
      margin-bottom: 5vh;
    }
  }

  .icon-ctn {
    display: flex;
    align-items: center;
    z-index: 100;
    position: relative;
    padding-left: 0;
    margin-left: 0; 
    width: 90%;
    gap: 20px;
      @media (max-width: 1200px) {
        top: -20%;
        position: relative;
        justify-content: center;
      }
      @media (max-width: 700px) {
        p{
          display: none;
          padding-left: 0px;
        }
  }
}
  
  .icon-ctn img {
    width: 30px; 
    height: auto;
    cursor: pointer;
}