.section-title-container {
    display: flex;
    flex-direction: column;
    z-index: 99;
  
    @media (min-width: 1200px) {
      width: 50vw;
    }
    @media (max-width: 1200px) {
      margin-top: 50px;
    }
    @media (max-width: 600px) {
      margin-top: 100px;
    }
  }
  
  .fullcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding-top: 130px;
    padding-bottom: 130px;
  
    @media (min-width: 1200px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }
    @media (max-width: 1200px) {
      margin-top: 200px;
    }
  }
  
  .title-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 35px; 

    @media (max-width: 1200px) {
      margin-top: 280px;
    }
    @media (max-width: 400px) {
      margin-top: 150px;
    }
  }
  
  .title-container {
    padding: 0;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
  
    @media (max-width: 389px) {
      flex-direction: column;
      text-align: center;
    }
  }
  
  .title-vertical {
    color: white;
    rotate: -90deg;
    font-size: 28px;
    height: 50%;
    margin: -6%;
    margin-left: -8%;
    animation: comesFromRight 2s ease 75ms;
  
    @media (max-width: 389px) {
      font-size: 21px;
      rotate: 0deg;
      margin: 0%;
    }
  
    @media (min-width: 1200px) {
      font-size: 46px;
      margin: -3%;
    }
  }
  
  .title-horizontal {
    display: flex;
    flex-direction: column;
    width: 81%;
    margin: 0;
  
    @media (max-width: 389px) {
      width: 100%;
    }
  }
  
  .myname {
    font-size: 34px;
    font-weight: 700;
    color: white;
    line-height: 120%;
    animation: comesFromRight 1s ease 75ms;
  
    @media (max-width: 389px) {
      font-size: 23px;
    }
  
    @media (min-width: 1200px) {
      font-size: 53px;
    }
  }
  
  .jobtitle {
    text-transform: uppercase;
    font-size: 28px;
    color: #4B47FF;
    line-height: 120%;
    animation: comesFromRight 2s ease 75ms;
  
    @media (max-width: 389px) {
      font-size: 23px;
    }
  
    @media (min-width: 1200px) {
      font-size: 44px;
    }
  }

  .main-btn{
    @media (max-width: 700px) {
      margin-bottom: 20px;
    }
    @media (max-width: 1200px) {
      margin-bottom: 50px;
    }
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    max-width: 680px;
  
    @media (min-width: 1200px) {
      width: 30vw;
    }
  
    .bg-colors-container {
      position: absolute;
      top: 130px;
      display: flex;
      flex-direction: row;
      overflow-y: hidden;
      z-index: -99;
      height: 100%;
      width: 100%;
  
      @media (min-width: 1200px) {
        width: 35vw;
        top: 175px;
        left: -245px;
        overflow: unset;
      }
    }
  
    .bg-colors {
      width: 45%;
      scale: 1.1;
      z-index: -99;
      filter: blur(46.5px);
      max-height: 800px;
  
      @media (min-width: 1200px) {
        width: 100%;
        scale: 1;
        filter: blur(90px);
        max-height: 800px;
      }
    }
  
    .titleimage {
      position: absolute;
      overflow: visible;
      width: 850px;
      @media (min-width: 1200px) {
        position: relative;
        top: 0px;
        left: 20px;
        width: 100%;
        min-width: 650px;
      }
      @media (min-width: 450px) {
        top: 200px;
        max-width: 250px;
      }
      @media (min-width: 320px) {
        top: 150px;
        max-width: 20px;
      }
      @media (max-width: 1200px) {
        margin-top: -20px;
        min-width: 550px;
      }
    }
  }
  
  .bg-shape {
    position: absolute;
    top: 45vh;
    z-index: 1;
  
    @media (min-height: 1300px) {
      top: 35vh;
    }

    @media (max-height: 720px) {
      top: 30vh;
    }
  
    @media (min-width: 1200px) {
      top: 60%;
      width: 100%;
    }
  
    @media (min-width: 2700px) {
      top: 50%;
      width: 100%;
    }
    @media (max-width: 1199px) {
      .margin {
        margin-bottom: 5vh;
      }
  }}

  .go-up{
    background: #9747FF;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
    cursor: pointer;
}

.go-up.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
    z-index: 9999;
}
  .icon-ctn {
    display: flex;
    align-items: center;
    align-items: center;
    z-index: 998;
    position: relative;
    padding-left: 0;
    margin-left: 0; 
    width: 90%;
    gap: 20px;
      @media (max-width: 1198px) {
        top: -22%;
        position: relative;
        justify-content: center;
      }
      @media (min-width: 1199px) {
        top: -20%
      }
      @media (max-width: 700px) {
        p{
          display: none;
          padding-left: 0px;
        }
  }
}
  
  .icon-ctn img {
    width: 30px; 
    height: auto;
    cursor: pointer;
}

.fullcontainer, .icon-ctn {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1440px) {
  .bg-shape {
    top: 50%;
    width: 100%;
  }
}
@keyframes comesFromRight {
  0% {
      transform: translateX(1000px);
  }

  100% {
      transform: translateX(0);
  }
}


@keyframes comesFromBottom {
  0% {
      transform: translateY(1000px);
  }

  100% {
      transform: translateY(0);
  }
}