#projects{
  @media (max-width: 1200px) {
    margin-bottom: 0px;
  }
}
.portfolio-intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
  
    h2 {
      line-height: 100%;
      margin: 0;
      padding: 0px 5px;
      border-radius: 40px;
      background-color: #141d2f;
      z-index: 2;
    }
  
    div {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 16px;
  
      p {
        margin: 0;
        line-height: 120%;
      }
    }
  }
  
  .portfolio-items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 25px;
    margin-bottom: 80px;
    width: 100%;
    @media (max-width: 1200px) {
      margin-bottom: 40px;
    }
    @media (min-width: 750px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    @media (min-width: 1440px) {
      row-gap: 2vw;
      column-gap: 2vw;
    }
  
    @media (min-width: 2055px) {
      width: 70%;
    }
  
    @media (min-width: 2948px) {
      width: 100%;
    }
  }
  
  .portfolio-bg-form-bottom {
    position: absolute;
    bottom: -110px;
    right: 0;
    height: 500px;
    overflow: hidden;
    z-index: -1;
  
    @media (min-width: 1200px) {
      height: 768px;
      bottom: -100px;
      right: 0px;
    }
  }
  
  .portfolio-bg-form-top {
    position: absolute;
    top: 550px;
    left: -55px;
    height: 400px;
    overflow: hidden;
    z-index: -1;
  
    @media (min-width: 1200px) {
      height: 900px;
      top: 150px;
      left: -120px;
    }
  }
  
  @media (min-width: 1200px) {
    .portfolio-intro-container {
    div {
      gap: 8px;
    }
  }
  }

  .details-right{
    margin-left: 50px;
  
  }
  .details-left{
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: right;
  }
.project {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; 
    justify-content: center;
    width: 80%;

    &-content {
        display: flex;
        flex-direction: row;
        align-items: center;

    }

    &-image {
      transition: transform 0.3s ease;
      width: 300px;
    }
    &-image:hover {
      transform: scale(1.1);
      cursor: pointer;
    }

    &-title {
        color: #9747FF;
        margin-top: 0;
    }

    &-tags {
        display: flex;
        flex-wrap: wrap;
    }

    .tag {
        color: #70E61C;
        margin-right: 10px; 
    }

    &-description {
        margin: 1rem 0; 
    }

    &-buttons {
        display: flex;
        gap: 1rem; 
        a {
          text-decoration: none; 
        }
        .btn {
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s; 

            &.btn-live {
                background-color: #9747FF;
                color: white;

                &:hover {
                    background-color: #70E61C;
                }
            }

            &.btn-github {
                background-color: transparent;
                border: 2px solid #70E61C;
                color: #70E61C;

                &:hover {
                    background-color: #70E61C; 
                    color: white;
                }
            }
        }
    }
}

@media (max-width: 800px) {
  .details-right{
    margin-left: 0px;
  
  }
  .details-left{
    margin-right: 0px;
  }
  .project {
    &-content {
      flex-direction: column;
      align-items: center;
    }

    &-image {
      width: 100%;
      max-width: none;
      width: 300px;
    }

    &-details {
      padding-left: 0;
      text-align: center; 
    }

    &-description {
      margin: 1rem 0; 
      text-align: center; 
    }
    
    &-title {
      text-align: center; 
    }
    
    &-tags {
      justify-content: center;
    }
    
    &-buttons {
      flex-direction: column; 
      align-items: center;
      gap: 0.5rem;
    }
  }
  .second-project {
      flex-direction: column-reverse; 
    }
  }
  
#projects{
    padding-left: calc((100% - 1440px) / 2);
    padding-right: calc((100% - 1440px) / 2);
}