<div id="skills">
    <div class="line-skills"></div>
    <div #skillsSection class="skills-container">
        
        <div class="skills-intro" >
            <h2>{{ 'skills-headline' | translate }}</h2>
            <div>
                <p>{{ 'skills-info1' | translate }}</p>
                <h3>{{ 'skills-info2' | translate }}<span class="another-skill">{{ 'skills-info2.1' | translate }}</span>?</h3>
                <p>{{ 'skills-info3' | translate }}</p>
            </div>
            <div class="btn-container hidemobile">
                <button class="main-btn" (click)="scrollToElement('contact')">{{ 'skills-info4' | translate }}</button>
              </div>
        </div>
        <div class="skills-icons-container">
            <div class="skill-icon">
                <img src="/assets/img/icons/angular-big.png" alt="">
                <p class="skill-description">Angular</p>
            </div>
            <div class="skill-icon">
                <img src="/assets/img/icons/typescript-big.png" alt="">
                <p class="skill-description">Typescript</p>
            </div>
            <div class="skill-icon">
                <img src="/assets/img/icons/javascript-big.png" alt="">
                <p class="skill-description">Javascript</p>
            </div>
            <div class="skill-icon">
                <img src="/assets/img/icons/html5-big.png" alt="">
                <p class="skill-description">HTML</p>
            </div>
            <div class="skill-icon">
                <img src="/assets/img/icons/firebase-big.png" alt="">
                <p class="skill-description">Firebase</p>
            </div>
            <div class="skill-icon">
                <img src="/assets/img/icons/api-big.png" alt="">
                <p class="skill-description">API</p>
            </div>
            <div class="skill-icon">
                <img src="/assets/img/icons/css-big.png" alt="">
                <p class="skill-description">CSS</p>
            </div>
            <div class="skill-icon">
                <img src="/assets/img/icons/material-design-big.png" alt="">
                <p class="skill-description">Material Design</p>
            </div>
            <div class="skill-icon">
                <img src="/assets/img/icons/bootstrap.svg" alt="">
                <p class="skill-description">Bootstrap</p>
            </div>
            <div class="skill-icon">
                <img src="/assets/img/icons/git.png" alt="">
                <p class="skill-description">GIT</p>
            </div>
            <div class="skill-icon">
                <img src="/assets/img/icons/scrum.png" alt="">
                <p class="skill-description">Scrum</p>
            </div>
            <div class="skill-icon last-icon">
                <img src="/assets/img/icons/learning.svg" alt="">
                <p class="skill-description last-icon-p">{{ 'skills-info5' | translate }}</p>
                <div class="tooltip">{{ 'skills-info6' | translate }}<br> {{ 'skills-info7' | translate }}</div>
            </div>
        </div>
        <div class="btn-container hidedesktop">
            <button class="main-btn" (click)="scrollToElement('contact')">{{ 'skills-info4' | translate }}</button>
        </div>
    </div>
    <img class="skills-bg-form" src="/assets/img/bg/blue-shadow-left.png">
    
</div>