<div id="skills">
    <div class="line-skills"></div>
    <div #skillsSection class="skills-container" data-aos="fade-up" data-aos-duration="1000">
        
        <div class="skills-intro" >
            <h2>{{ 'skills-headline' | translate }}</h2>
            <div>
                <p>{{ 'skills-info1' | translate }}</p>
                <h3>{{ 'skills-info2' | translate }}<span class="another-skill">{{ 'skills-info2.1' | translate }}</span>?</h3>
                <p>{{ 'skills-info3' | translate }}</p>
            </div>
            <div class="btn-container hidemobile">
                <button class="main-btn" (click)="scrollToElement('contact')">{{ 'skills-info4' | translate }}</button>
              </div>
        </div>
        <div class="skills-icons-container" data-aos="fade-up" data-aos-duration="1000">
            <div class="skill-icon">
                <img src="/assets/img/icons/angular-big.png" alt=""><p>Angular</p>
            </div>
            <div class="skill-icon">
                <img src="/assets/img/icons/typescript-big.png" alt=""><p>Typescript</p>
            </div>
            <div class="skill-icon">
                <img src="/assets/img/icons/javascript-big.png" alt=""><p>Javascript</p>
            </div>
            <div class="skill-icon">
                <img src="/assets/img/icons/html5-big.png" alt=""><p>HTML</p>
            </div>
            <div class="skill-icon">
                <img src="/assets/img/icons/firebase-big.png" alt=""><p>Firebase</p>
            </div>
            <div class="skill-icon">
                <img src="/assets/img/icons/api-big.png" alt=""><p>API</p>
            </div>
            <div class="skill-icon">
                <img src="/assets/img/icons/css-big.png" alt=""><p>CSS</p>
            </div>
            <div class="skill-icon">
                <img src="/assets/img/icons/material-design-big.png" alt=""><p>Material Design</p>
            </div>
            <div class="skill-icon">
                <img src="/assets/img/icons/bootstrap.svg" alt=""><p>Bootstrap</p>
            </div>
            <div class="skill-icon" >
                <img src="/assets/img/icons/git.png" alt=""><p>GIT</p>
            </div>
            <div class="skill-icon">
                <img src="/assets/img/icons/scrum.png" alt=""><p>Scrum</p>
            </div>
            <div class="skill-icon last-icon">
                <img src="/assets/img/icons/learning.svg" alt=""><p class="last-icon-p">{{ 'skills-info5' | translate }}</p>
                <div class="tooltip">{{ 'skills-info6' | translate }}<br> {{ 'skills-info7' | translate }}</div>
            </div>
        </div>
        <div class="btn-container hidedesktop">
            <button class="main-btn" (click)="scrollToElement('contact')">{{ 'skills-info4' | translate }}</button>
        </div>
        <img class="skills-bg-form" src="/assets/img/bg/blue-shadow-left.png">
    </div>
    
</div>